{% extends "base.html" %}

{% block content %}
    <title>Population Census</title>
    <style>





        table {
            width: 100%;
            border-collapse: collapse;
            margin: 20px 0;
        }
        th, td {
            border: 1px solid #888;
            padding: 8px;
            text-align: center;
        }
        th {
            background-color: #f4f4f4;
        }
        tr:hover {
            background-color: #eef;
        }
        .top-bar {
            display: flex;
            justify-content: flex-end;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <h1>مردم شماری</h1>
    
    <form method="POST" action="{{ url_for('views.handle_records') }}">
        <div class="top-bar">
        <!-- making an insert button on the left side -->
            <div class ="left-buttons">
                <a href="{{url_for('views.insert_record')}}">
                    <button type="button">Insert New Record</button>
                </a>
            </div>
            <div class="right-buttons">
                <button type="submit" name="action" value="delete">Delete Selected</button>
                <button type="submit" name="action" value="edit">Edit Selected</button>
        </div>
    </div>
        <table>
            <div class="table responsive">
                <table class="table table=bordered table hover">
                    <!-- This will make your table scrollable sideways without messing up the layout or the navbar. -->
                <tr>
                    <th>Select</th>
                    {% for col in columns %}
                        <th>{{ col }}</th>
                    {% endfor %}
                </tr>
                {% for row in rows %}
                <tr>
                    <td><input type="checkbox" name="selected_ids" value="{{ row[-1] }}"></td>
                    {% for cell in row %}
                        <td>{{ cell }}</td>
                    {% endfor %}
                </tr>

                {% endfor %}
                </table>
            </div>
        </table>
    </form>
</body>
</html>
{% endblock %}
